numpy>=1.26.0
faiss-cpu>=1.7.4; python_version < "3.12"
sentence-transformers>=3.0.1
datasets>=2.20.0
accelerate>=1.1.0
python-docx>=1.1.2
pytesseract>=0.3.10
opencv-python>=4.10.0.84
Pillow>=10.3.0
pywin32>=306; platform_system == "Windows"
